---
apiVersion: v1
kind: Secret
metadata:
  name: discord-webhook-url
  namespace: infra-observability
type: Opaque
stringData:
  address: ${discordAlertmanagerAddress}
---
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: ${clusterName}
  namespace: infra-observability
  labels:
    alertmanager: ${clusterName}
spec:
  route:
    receiver: 'null'
    continue: true
    routes:
      # https://blog.ediri.io/how-to-set-up-a-dead-mans-switch-in-prometheus
      - receiver: healthchecks
        groupBy:
          - alertname
          - cluster
          - job
        matchers:
          - name: alertname
            matchType: '='
            value: Watchdog
        groupWait: 0s
        groupInterval: 5s
        repeatInterval: 10m
        continue: false
      - receiver: discord
        matchers:
          - name: alertname
            matchType: '=~'
            value: '.+'
        routes:
          - receiver: discord
            matchers:
              - name: instance
                matchType: '=~'
                value: '${backupServerIP}:.*'
            activeTimeIntervals:
              - remote-backup-active
        groupBy:
          - alertname
        groupWait: 5m
        groupInterval: 10m
        repeatInterval: 24h
  receivers:
  - name: 'null'
  - name: discord
    discordConfigs:
    - apiURL:
        name: discord-webhook-url
        key: address
  - name: healthchecks
    webhookConfigs:
    - url: ${watchdogAlertUrl}
      httpConfig:
        tlsConfig:
          insecureSkipVerify: true
  muteTimeIntervals:
    - name: remote-backup-active
      timeIntervals:
        - weekdays: [Saturday]
          #location: Europe/Zurich
          times:
          - startTime: 21:00
        - weekdays: [Sunday]
          #location: Europe/Zurich
        - weekdays: [Monday]
          #location: Europe/Zurich
          times:
          - endTime: 10:00
